.news-letter {
  padding: 35px 0;
  border: 1px solid var(--oxford-blue-354e57);
}
.news-letter .column-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}
.news-letter h3,
.news-letter p {
  color: var(--oxford-blue-354e57);
}
.news-letter h3 {
  position: relative;
}
.news-letter h3 span {
  display: inline-block;
  line-height: var(--line-spacing-38);
  font-weight: 600;
  max-width: 230px;
  padding-right: 32px;
  position: relative;
}
.news-letter h3::after {
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: 100%;
  top: 0;
  right: 14%;
  background-color: var(--mischka-d7ccdd);
}
.news-letter p {
  line-height: 20px;
}
.news-letter .input-box {
  border: 1px solid var(--cape-palliser-a67744);
  border-right: none;
}
.input-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  max-width: 399px;
  margin-left: auto;
}
.news-letter button {
  color: var(--white-ffffff);
  height: 40px;
  width: 130px;
  border: 1px solid var(--cape-palliser-a67744);
  border-left: none;
  background: var(--cape-palliser-a67744) 0% 0% no-repeat padding-box;
  cursor: pointer;
  transition: all ease-out 0.3s;
}
.news-letter button:hover {
  border-color: #9a6b39;
  background: #9a6b39 0% 0% no-repeat padding-box;
}

@media screen and (max-width: 768px) {
  .news-letter {
    padding: 70px 0;
  }
  .news-letter h3 {
    padding-bottom: 44px;
  }
  .news-letter h3::after {
    right: initial;
    width: 100%;
    height: 1px;
    top: initial;
    bottom: 22px;
  }
  .news-letter p {
    padding-bottom: 40px;
  }
  .news-letter .input-box {
    border-left: none;
    border-right: 1px solid;
  }
  .news-letter button {
    border-left: none;
    border-right: 1px solid;
  }
  .input-wrapper {
    margin: auto;
    flex-direction: row-reverse;
  }
}
